:root {
  --default-dark: #0f172a;
  --default-white: #f6f6f6;
  --calc: #4d4d4d;
  --screen: #d6e3d6;
  --btn-sp: #fd7f20;
}

body {
  background-color: var(--default-white);
  font-family: "Monserrat", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  height: 75vh;
  min-height: 400px;
  margin: 0 auto;
}

h1 {
  font-size: large;
  margin: 0 0 30px 0;
  color: var(--default-white);
}

#calculator {
  display: flexbox;
  border-radius: 30px;
  padding: 20px;
  width: 300px;
  background-color: var(--calc);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

#screen {
  border-radius: 20px;
  margin: auto auto 20px auto;
  border: 10px solid var(--default-dark);
  padding: 5px 10px;
  width: 250px;
  height: 100px;
  background-color: var(--screen);
}

#btn-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.sp-btn {
  background-color: var(--btn-sp);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 20px;
}
