:root {
  --default-dark: #0f172a;
  --default-white: #ffffff;
  --calc: #4d4d4d;
  --screen: #d6e3d6;
  --btn: #999999;
  --btn-hover: #757575;
  --btn-font: #ffffff;
  --btn-sp: #8dc11f;
  --btn-sp-hover: #6d9614;
}

body {
  background-color: var(--default-white);
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  height: 75vh;
  min-height: 400px;
  margin: 0 auto;
}

h1 {
  font-size: x-large;
  margin: 0 0 30px 0;
  color: var(--default-white);
  margin: 0 10px 30px 10px;
}

#calculator {
  display: flexbox;
  border-radius: 30px;
  padding: 20px;
  width: 400px;
  background-color: var(--calc);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

#screen {
  border-radius: 20px;
  margin: auto auto 20px auto;
  border: 10px solid var(--default-dark);
  padding: 5px 10px;
  width: 360px;
  height: 100px;
  background-color: var(--screen);
}

#btn-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.btn {
  background-color: var(--btn);
  color: var(--btn-font);
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 25px;
}

.sp-btn {
  background-color: var(--btn-sp);
}

.btn:hover {
  background-color: var(--btn-hover);
}

.sp-btn:hover {
  background-color: var(--btn-sp-hover);
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 30px;
}
